<link href="/stylesheets/credits.css" rel="stylesheet">
<div class="container" style="padding-bottom: 60px;">
      <p5 style=""> <b> Made by: </b> Jeremy, Max, Zach, Mika, Christina, and Abi</p5>
</div>
<div class="container" style="padding-bottom: 60px;">
      <p5 style=""> <b>Jeremy, Max, and Zach</b> are credited for the creation of the majority of the website</p5>
</div>
<div class="container" style="padding-bottom: 60px;">
      <p5 style=""> <b>Mika, Christina, and Abi</b> are credited for the creation of the virtual museum, as well as tweaks to the website</p5>
</div>
<div class="container" style="padding-bottom: 60px;">
      <p5 style=""> <b> Want to be the next name on this growing list? Contact us!</b></p5>
</div>
{{!-- <div class="container">
      <p1 style="text-align: center;"><b> With artwork from: </b> </p1>
      {{#each names}}
            <div class="col-14">
                  <p1 class="list d-flex justify-content-center" style="text-align:center;">{{this}}</p1>
            </div>
      {{/each}}
</div> --}}
