<link href="/stylesheets/index.css" rel="stylesheet">
<style type="text/css">
  .parallax {
    background-image: url("https://lh3.google.com/u/0/d/1TStSr2-dWUU2tvd8cW7tQhTQdTwM5FZt");

    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
</style>

<div class="container-fluid">
  <div id=inside class="parallax">
    <p1 class="carousel-caption pb-2" style="font-size: 10vw;">The Langenheim</p1>
    <p1 class="carousel-caption pb-2" style="font-size: 3;">Artwork by Anna Keis</p1>
  </div>
</div>

<div class="container text-center w-75 pt-4 pb-4">
  <p3>
      Welcome to the The Langenheim, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way.
     WE LOVE ART KIDS!
  </p3>
</div>

