<link href="/stylesheets/index.css" rel="stylesheet">
{{#with art}}
<div class="container-fluid">
  <div class="parallax" style="background-image: url('{{art_source}}');">
    <div id=inside class="parallax">
      <p1 class="carousel-caption pb-2" style="font-size: 10vw;">The Langenheim</p1>
      <p1 class="carousel-caption pb-2" style="font-size: 3;">Artwork by {{art_creator}}</p1>
    </div>
  </div>
</div>

<div class="container text-center w-75 pt-4 pb-4">
  <p3>
      Welcome to the The Langenheim, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way.
     WE LOVE ART KIDS!
  </p3>
</div>

{{/with}}