<link href="/stylesheets/index.css" rel="stylesheet">

<div class="container-fluid">
  <div id=inside class="parallax">
    <p1 class="carousel-caption pb-2" style="font-size: 10vw;">The Langenheim</p1>
  </div>
</div>

<div class="container text-center w-75 pt-4 pb-4">
  <p3>
      Welcome to the The Langenheim, your one stop shop for viewing the wonderful work of the AVPA academy in a simple and unique way.
     WE LOVE ART KIDS!
  </p3>
</div>

