<body class="d-flex flex-column min-vh-100">
<div class="container">
    <h3 class="text-center mb-2 pb-2 text-primary fw-bold">About</h3>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Welcome to the chill zone (for now)
        </button>
      </div>
    </div>
  </div>
</div>
</body>
