<header>
<div class="container">
      <p1 style=""> Hi there <b> {{profile.given_name}} </b> </p1>
</div>
</header>
<body>
<div class="container">
      <p1 style="text-align: center;"><b> Your art: </b> </p1>
            <div class="col-14">
                  <p1 class="list d-flex justify-content-center" style="text-align:center;">{{this}}</p1>
            </div>
            <img src="/public/images/Picture.jpg">
</div>
<div>
  <a href="https://langenheim-a07134ab155c.herokuapp.com/v2/logout?returnTo=https://langenheim-a07134ab155c.herokuapp.com">
  <button>Log out</button>
  </a>
</div>
</body>