<header>
<div class="container">
      <p1 style=""> Hi there <b> {{profile.given_name}} </b> </p1>
</div>
</header>
<body>
<div class="container">
      <p1 style="text-align: center;"><b> Your art: </b> </p1>
            <img src="https://ramstudioscomics.com/wp-content/uploads/2021/05/Step8_Drawing_the_Eye_Final_Rendering.jpg">
</div>
<div>
<button>Log out</button>
  {{!-- <a href="https://langenheim-a07134ab155c.herokuapp.com/v2/logout?returnTo=https://langenheim-a07134ab155c.herokuapp.com">
  
  </a> --}}
</div>
</body>