<body class="d-flex flex-column min-vh-100">
<div class="container">
    <h3 class="text-center mb-2 pb-2 text-primary fw-bold">Profile</h3>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Welcome to the chill zone (for now)
        </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Hi there {{profile.given_name}}</strong> By going to the Artwork tab on the top, different artwork from various students from Bergen County Academies can be viewed, searched, and individually observed. The Virtual Gallery tab reveals the Unity aspect to interactively walk around and view the artwork as well. The chat tab mimics a real gallery where viewers can join a room for a specific artwork and discuss in real time.
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
